* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 1rem;
}
.box1 {
  background-color: rgb(225, 65, 164);
}
.box2 {
  background-color: royalblue;
}
.box3 {
  background-color: rgb(65, 225, 188);
}
.box4 {
  background-color: rgb(65, 225, 81);
}
.box5 {
  background-color: rgb(94, 225, 65);
}
button {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem;
}
