* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 1rem;
}
button {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem;
}
